[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
robotframework = "*"
autopep8 = "*"
pylint = "*"
pipfile = "*"

[packages]
Pillow = "*"
pipfile = "*"
slackclient = "*"
psycopg2-binary = "*"
sqlalchemy = "*"

[required]
python = "3.7.4"
